
body {
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', sans-serif;

  font-size: 1.3em;
  font-weight: thin;
  
}
#first {
   width: 10%;
   margin-left: 100px;
font-size:20px;
color: #4F2412;
/*
 background-color:  #eae0da;*/
}
#second {

     width: 10%;
     margin-left:100px;
   
   color:#C9A798;
   font-size:15px;
   font-style: italic;

/*background-color: #F9F6F4;*/
}

.section {
  margin: auto;
 /* padding: 80px;*/
  /*padding-left: 150px;*/
}
.section input[type="radio"],
.section input[type="checkbox"]{
  display: none;
}
.container {
  margin-bottom: 10px;
  width:300px;
}
.container label {
  position: relative;
}

/* Base styles for spans */
.container span::before,
.container span::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
}

/* Radio buttons */
.container span.radio:hover {
  cursor: pointer;
}
.container span.radio::before {
  left: -52px;
  width: 45px;
  height: 25px;

  background-color: #CCCCCC;
  border-radius: 50px;
}
.container span.radio::after {
  left: -49px;
  width: 17px;
  height: 17px;
  border-radius: 10px;

  background-color: #FFFFFF;
  transition: left .25s, background-color .25s;
}
input[type="radio"]:checked + label span.radio::after {
  left: -27px;
  background-color: #94bc7e;
}

/* Check-boxes */
.container span.checkbox::before {
  width: 27px;
  height: 27px;
  background-color: #fff;
  left: -35px;
  box-sizing: border-box;
  border: 3px solid transparent;
  transition: border-color .2s;
}
.container span.checkbox:hover::before {
  border: 3px solid #F0FF76;
}
.container span.checkbox::after {
  content: '\f00c';
  font-family: 'FontAwesome';
  left: -31px;
  top: 2px;
  color: transparent;
  transition: color .2s;
}
input[type="checkbox"]:checked + label span.checkbox::after {
  color: #62AFFF;
}


